* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", "sans-serif";
}

.c-mainIcon {
  height: 50px;
}

.c-container {
  margin: 110px auto;
  width: 800px;
}

.c-conNone {
  pointer-events: none;
  user-select: none;
  opacity: 0.1;
}

.c-contents {
  display: block;
  margin: 30px auto;
  width: 750px;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 6px 6px 2px 1px rgba(145, 145, 145, 0.2);
  opacity: 0.6;
}

.c-contents:hover {
  opacity: 1;
}

article {
  .c-article {
    margin: 0 5% 0 5%;
    padding-bottom: 30px;
    box-shadow: 3px 3px 1px 1px rgba(145, 145, 145, 0.1);
    border-radius: 5px;
  }
  .c-article-titles {
    height: 300px;
    overflow-y: scroll;
  }
  .c-article-text {
    width: 90%;
    margin: 20px auto 0;
  }

  .list-wrapper {
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 3px 3px 1px 1px rgba(145, 145, 145, 0.1);
    // list-style-position:inside ;
  }

  .list-wrapper:hover {
    background: rgba(207, 207, 255, 0.3);
    cursor: pointer;
  }
}
.c-card {
  width: 80%;
  max-width: 600px;
  max-height: 70%;
  background: rgb(243, 242, 242);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 4px 4px 2px 2px rgba(145, 145, 145, 0.3);
  overflow: scroll;
  display: none;
  img {
    max-width: 600px;
    max-height: 600px;
  }
}

.c-show-card {
  display: block;
}

.c-card-text {
  font-size: 1rem;
}

.c-carousel {
  width: 80%;
  height: 250px;
  margin: 50px auto;
  overflow: hidden;
  position: relative;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;

    li {
      height: 100%;
      min-width: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
#prev,
#next {
  position: absolute;
  top: 100%;
  transform: translateY(-100%);
  border: none;
  background-color: rgba(0,0,0,0.5);
  font-size: 2rem;
  color: white;
  padding: 0 10px 5px;
}
#prev {
  left: 0px;
}
#next {
  right: 0px;
}


@media (max-width: 991.98px) {
  .c-container {
    width: 92%;
  }
  .c-contents {
    width: 88%;
  }
  // .c-card {
  //   img {
  //   max-width: 50%;
  //   }
  // }
}
