.g-container {
  margin: 110px auto;
  width: 800px;
}

.touchPanelBase {
  background-image: url(../image/GAME/PANEL.png);
  background-size: 600px;
  opacity: .9;
  color: #fff;
  font-family: "Courier New", Courier, monospace;
  font-size: 1rem;
  font-weight: bold;
  width: 100%;
  height: 1000px;
  position: relative;
}

#touchPanel {
  margin: 0 auto ;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);

  
}

#board {
  list-style: none;
  margin: 0 0 8px;
  padding: 10px;
  background: #fff;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  li {
    background: #0af;
    width: 40px;
    height: 40px;
    margin: 5px;
    cursor: pointer;
    border-radius: 4px;
    line-height: 40px;
    text-align: center;
    box-shadow: 0 4px 0 #08c;
    user-select: none;
  }
  li.pressed {
    background: #ccc;
    box-shadow: none;
    margin: 9px 5px 1px;
  }
}

#timer {
  margin-bottom: 8px;
  font-size: 20px;
  text-align: right;
}

#touchPanelButton{
  margin-top: 15px;
  cursor: pointer;
  user-select: none;
  background: #f44336;
  padding: 8px;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0 4px 0 #d1483e;
  
}
#touchPanelButton:active, #touchLevelButton:active {
  opacity: 0.6;
  // box-shadow: none;
}

@media (max-width: 991.98px) {
  .g-container {
    width: 92%;
  }

}